/* Общие стили */
body {
    background-color: #f8f9fa;
    font-family: "Segoe UI", sans-serif;
    padding: 30px;
}

h1 {
    color: #0d6efd;
    margin-bottom: 25px;
}

/* Таблица рейсов */
table#tripTable {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    overflow: hidden;
}

table#tripTable th,
table#tripTable td {
    vertical-align: middle;
    white-space: nowrap;
}

table#tripTable thead {
    background-color: #f1f3f5;
    font-weight: 600;
}

/* Подсветка строк с превышением веса */
.highlight-overweight {
    background-color: #f8d7da !important;
}

/* Кнопки */
.btn {
    font-size: 0.9rem;
    padding: 6px 12px;
    border-radius: 6px;
}

.btn-custom {
    background-color: #198754;
    color: white;
}

.btn-custom:hover {
    background-color: #146c43;
    color: white;
}

/* Комментарии */
.comment-toggle {
    cursor: pointer;
    font-weight: 500;
    color: #0d6efd;
}

.comment-content {
    font-size: 0.9rem;
    margin-top: 5px;
    white-space: pre-line; /* позволяет перенос по строкам и сохраняет \n */
    word-break: break-word; /* переносит длинные слова */
    max-width: 300px;
}


/* Пагинация DataTables */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 4px 10px;
    margin: 0 2px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    background-color: white;
    color: #0d6efd !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #0d6efd;
    color: white !important;
    border-color: #0d6efd;
}

/* Поиск DataTables */
.dataTables_filter input {
    border-radius: 6px;
    border: 1px solid #ced4da;
    padding: 6px 10px;
    margin-left: 8px;
}

/* Селекты */
select.form-select {
    font-size: 0.9rem;
}

/* Поля формы */
input.form-control {
    font-size: 0.9rem;
}

.gradient-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    background: linear-gradient(90deg, #6610f2, #0d6efd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 12px;
}